#ImgBig {
  height: auto;
  padding-right: 20%;
  z-index: -2;
}

#btn-align {
  text-align: right;
}

#overlapped {
  z-index: 10;
  width: 658px;
  height: 462px;
  box-shadow: 5px 5px 5px grey;
  background-color: #f8f5f5;
  color: #f2f2f2;
  margin-top: -199px;
  margin-right: 243px;
}

#ImgShift {
  height: 100vh;
  background-size: cover;
  /* margin-right:15%; */
}